@use 'reset'
@use 'nav'
@use 'slider'

$bgColor: #252525

body
  background: 
    color: $bgColor
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  height: 100vh
  overflow: hidden

#app
  width: 100vw
  height: 100vh
  padding-top: 5vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center



