$bgColor: #253257 

body
  background: 
    color: white
  display: flex
  align-items: center
  justify-content: center
  height: 100vh

.frame
  height: 42vw
  width: 69.9vw
  overflow: hidden

.imgContainer
  display: flex
  transform: translateX(-70vw) 
  transition: transform 500ms ease

img
  height: 42vw
  
.btnHolder
  display: flex
  width: 70vw
  justify-content: space-between
