$bgColor: #253257 
$slideWidth: 70vw
$slideHeight: $slideWidth*.6

body
  background: 
    color: $bgColor
  display: flex
  align-items: center
  justify-content: center
  height: 100vh

.frame
  height: $slideHeight
  width: $slideWidth - .2
  overflow: hidden

.imgContainer
  display: flex
  transform: translateX(-$slideWidth) 
  transition: transform 500ms

img
  height:$slideHeight
  width: $slideWidth
  
.btnHolder
  display: flex
  width: $slideWidth - .2
  margin-top: 3%
  justify-content: space-around
